h2 {
    color: white;
    font-size: 30px;
}

p {
    font-size: 18px;
    font-family: montserrat;
    font-weight: 200;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mydivname {
    flex: 0 0 30%;
    box-sizing: border-box;
    margin: 1%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    padding: 15px;
    margin-bottom: 50px;
}

.mydivname:hover {
    transform: translateY(5px);
}

.mydivname h2 {
    color: black;
}

@media (max-width: 768px) {
    .mydivname {
        flex: 0 0 100%;
    }
}

.about-us {
    flex: 0 0 48%;
    box-sizing: border-box;
    margin: 1%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-name {
    text-align: center;
}

/* Hero section  */
.hero {
    background: url('../images/hero-image.jpg') no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    max-width: 800px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 28px;
}

.cta-button {
    background-color: orange;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover {
    background-color: rgb(212, 140, 7);
}

.flex-container {
    background-color: rgb(243, 241, 241);
}

.about-us {
    padding-top: 50px;
    padding-left: 8px;
    padding-bottom: 50px;
    flex: 1 1 48%;
    box-sizing: border-box;
    margin: 1%;
}


@media (max-width: 768px) {
    .about-us {
        flex: 0 0 100%;
        text-align: center;
    }

    .about-us img {
        max-width: 100%;
        height: auto;
    }
}


/* Top Navigation bar */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(243, 241, 241);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: rgb(111, 83, 4);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    color: rgb(187, 141, 4);
}

.cta-button-header {
    background-color: #b1946b;
    color: white;
    padding: 10px 25px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cta-button-header:hover {
    background-color: rgb(187, 141, 4);
}


/* contact form  */

.flex-container {
    padding: 20px;
}

.flex-container h2 {
    color: black;
}

.contact-info p {
    color: black;
}

.email {
    color: rgb(111, 83, 4);
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: #b1946b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: rgb(187, 141, 4);
}